$pc-media: 1140px;
$pad-media: 1139px;
$phone-media: 576px;

@mixin phone-width {
    @media (max-width: $phone-media) {
        @content;
    }
}
@mixin pad-width {
    @media (max-width: $pad-media) and (min-width: $phone-media) {
        @content;
    }
}
@mixin pc-width {
    @media (min-width: $pc-media) {
        @content;
    }
}

$main-color: #21326a;
$main-color-secondary: #dd3333;
$text-color: #b7c5f3;